* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $orange-200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a[href]{
    color:#D04524 ;
}

h1{
    color: #9B480C;
    text-align: center;
}

h2{
    color: #BA601F;
    text-align: center;
}
